
body {
    font-family: 'Poppins', sans-serif;
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                url('../imgs/header3.png') center/cover no-repeat;
    min-height: 50vh;
    font-size: 1.3rem;
    font-family: "frank ruhl libre";
}
.title {
    font-family: "frank ruhl libre";

}
/* Custom Card Style */
.custom-card {
    background: #fff;
    border-radius: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}
.custom-card:hover {
    /* background-color: rgb(88, 64, 46);; */
    color: white;
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.custom-card h5 {
    color:rgb(155, 93, 48);
    font-weight: 600;
    margin-top: 1rem;
    font-size: 1.1rem;
    font-family: "frank ruhl libre";
}
.custom-card p {
    font-size: 0.95rem;
    color: #555;
    font-family: "mada";
}
.last{
    font-family: 'mada';
}

/* Icon Style */
.icon-wrapper {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: rgb(155, 93, 48);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

